DATABASE_URL="postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="your-nextauth-secret-key"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
WHATSAPP_MICROSERVICE_URL="https://rxnxt-whatsapp-service.onrender.com"

# Doctor Medical Council License Verification
DOCTOR_VERIFY_PROVIDER="apify" # options: "apify", "decentro", "surepass", "sandbox"
DOCTOR_VERIFY_API_KEY="your_apify_api_token"

